#Python gitignore

__pycache__/
*.pyc
.env
path/*
.idea/

#C++ gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
=======
.idea/
project_pong_cpp/cmake-build-debug/
project_pong_cpp/build/
